IndentWidth: 4
---
Language: Cpp
BasedOnStyle: Microsoft

# General layout
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
PointerAlignment: Left
ConstructorInitializerIndentWidth: 4

# Braces
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  BeforeElse: true
  BeforeCatch: true

# Namespaces
NamespaceIndentation: None
FixNamespaceComments: true

# Breaking rules
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterColon
BreakBeforeInheritanceComma: false

# Includes
IncludeBlocks: Merge
SortIncludes: true
IncludeCategories:
  # All angle-bracket includes first
  - Regex: '<[^"]+>'
    Priority: 1

  # All quoted includes next
  - Regex: '".+"'
    Priority: 2

# Comments
ReflowComments: true

---
Language: Proto
BasedOnStyle: Google
