[Unit]
Description=Cocktail maker
After=default.target

[Service]
Type=simple
StandardOutput=journal
ExecStart=cocktail-maker --fullscreen
Restart=on-failure
RestartSec=2
Environment=QT_QPA_PLATFORM=wayland
WorkingDirectory=%h/cocktail

[Install]
WantedBy=default.target
